DATABASE_URL=""
JWT_SECRET="secret"
PORT=3000

OPENAI_API_KEY="sk-xxx"


GOOGLE_CLIENT_ID=1234567890-abcxyz1234567890.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-abcdefghijklmnopqrstuv
GOOGLE_CALLBACK_URL=http://localhost:3000/auth2-google/redirect
