DATABASE_URL="postgresql://jeanaime:@nexa_db@@147.93.90.223:5432/nexa_db"
JWT_SECRET="secret"
PORT=3000

OPENAI_API_KEY="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"