DATABASE_URL=""
JWT_SECRET="secret"
PORT=3000

OPENAI_API_KEY="sk-xxx"


GOOGLE_CLIENT_ID=951627717796-2h21khtasdsv45c7el7tdvhjrseemlso.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/redirect

